.favorite-icon {
  background: url("../icons/heart-solid.svg") 16% 0% no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 5px;
  zoom: 109%;
}
.appointment-icon {
  background: url("../icons/calendar-check-solid.svg") 16% 0% no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  zoom: 109%;
  margin: 5px;
}
.btn-logout:hover {
  color: white !important;
}
.nav-custom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.loggedin-list {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  width: 18rem;
}
.wrapper ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.name {
  font-size: 1.2rem;
  margin: 5px auto;
  text-transform: uppercase;
}
.icon {
  font-size: 1.2rem;
  margin: 5px 0;
}
.icon a:hover {
  text-decoration: none;
}
.nav-content {
  height: 10rem;
  padding-top: 5rem;
}
.nav-content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-content ul li {
  margin: auto 5px;
}
