<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-light
    mb-3
    fixed-top
    app-header
    loggedin-list
  "
  *ngIf="isLoggedIn$ | async as loggedIn; else loading"
>
  <div *ngIf="loggedIn" class="nav-custom">
    <div class="icon"><a [routerLink]="['/properties']">Property Deals</a></div>
    <div class="search-bar">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          [(ngModel)]="SearchTerm"
          type="search"
          name="search"
          placeholder="Search by location"
          aria-label="Search"
        />
        <button
          class="btn btn-dark my-2 my-sm-0"
          type="submit"
          [routerLink]="['/search']"
          [queryParams]="{ query: SearchTerm }"
        >
          Search
        </button>
      </form>
    </div>
    <div class="wrapper">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item name">
          <strong>{{ currUser }}</strong>
        </li>
        <li>
          <div
            class="favorite-icon btn"
            [routerLink]="['/myfavourite']"
            title="My Favorite Properties"
          ></div>
        </li>
        <li>
          <div
            class="appointment-icon btn"
            [routerLink]="['/myappointments']"
            title="My Appointments"
          ></div>
        </li>
        <li>
          <a class="btn btn-outline-dark btn-logout" (click)="onLogout()"
            >Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="toggle" class="nav-content bg-light">
  <ul>
    <li>
      <a class="btn btn-dark btn-logout">Saved Properties</a>
    </li>
    <li>
      <a class="btn btn-dark btn-logout">Your Appointments</a>
    </li>
    <li>
      <a class="btn btn-dark btn-logout" (click)="onLogout()">Log Out</a>
    </li>
  </ul>
</div>
<ng-template #loading>
  <nav
    class="
      navbar navbar-expand-lg navbar-light
      bg-light
      mb-3
      fixed-top
      app-header
    "
  >
    Property Deals
  </nav>
</ng-template>
