.login-main {
  padding: 5rem 0;
}
.loginContainer {
  max-width: 320px;
  min-height: 450px;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: 0 auto;
  box-shadow: rgba(127, 157, 187, 0.2) 0px 8px 24px;
}
